<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title></title>
</head>
<body>
	
	<div th:fragment="navbar" class="navbar">
    <div class="navbar-inner">    

	<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand">MyBoldGoals <span><img src="http://moziru.com/images/fist-clipart-power-to-person-9.png" height="30" width="30"></img></span></a>        
 
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="glyphicon glyphicon-list"></span>
        </button>
         
        <div class="collapse navbar-collapse navHeaderCollapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/goal}">Add new goal</a></li>
            <li><a th:href="@{/goals}">Goals list</a></li>
            <li><a th:href="@{/summary}">Summary</a></li>
            	<li th:switch="${session.isEmpty()}">
	  			<p th:case="true">
	  				<li><a th:href="@{/register}">Register</a></li>
	  				<li><a th:href="@{/login}">Log in</a></li>
	  			</p>
  				<p th:case="false">
				    <form action="logmeout" th:action="@{/logmeout}" method="post" name="someForm">
					</form>
					<li><a href="#" onclick="document.someForm.submit();">Log out</a></li>
    			</p>
    			</li>
           </ul>
        </div> 
      </div>
	</nav>

	</div>
	</div>

</body>
</html>