<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add goal</title>
</head>
<body>
    <h1>Add goal</h1>
    <form th:action="@{/saveGoal}" method="post">
        <p>Description: <input required="required" title="Description can't be null" type="text" name="description" /></p>
        <p>Start date: <input type="date" name="dateStart" /></p>
        <p>Scheduled end date: <input type="date" name="dateEnd" /></p>
        <input type="submit" value="Save" />
    </form>
</body>
</html>