<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add goal</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<div th:replace="fragments/navbar :: navbar"></div>

		<div class="container">
	        <div class="col-md-8 col-md-offset-0">
	    	<form class="form-signin" th:action="@{/saveGoal}" method="post">
	    		<h2 class="form-signin-heading">Add new goal</h2>
	    		<br></br>
		        <h4>Description</h4>
		        <textarea maxlength="200" required="required" title="Description can't be null" type="text" name="description"
		        	class="form-control" placeholder="Description"></textarea>
		        <div class="input-group bootstrap-timepicker timepicker col-md-2">
		        <br></br>
		        <h4>Start date</h4>
		        <input id="timepicker" maxlength="200" type="date" name="dateStart"
		        	class="form-control" placeholder="Start date"></input>
		        </div>
		        <div class="input-group bootstrap-timepicker timepicker col-md-2">
		        <br></br>
		        <h4>Scheduled end date</h4>
		        <input id="timepicker" maxlength="200" type="date" name="dateEnd"
		        	class="form-control" placeholder="Scheduled end date"></input>
		        </div>
		        <br></br>
		        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Save" />
	    	</form>
	    	</div>
	    	<div class="bs-callout bs-callout-info">
  				<h2>Tips:</h2>
  				<h4>1. Goal form define overall objective. Fill form with your big objective.</h4>
  				<h4>2. Always determine start date and scheduled end date. There's no-no time like the present.</h4>
  				<h4>3. Your goal cannot be impersonal - write "I finish with smoking" instead of "Stop smoking".</h4>
  				<h4>4. If you want to lose 15 kg, write "I'm loosing 25 kg" - bold goals boost your motivation more than normal goals.</h4>
			</div>
	    </div>
</body>
</html>

	