<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>MyBoldGoals</title>
</head>
<body>
    <h1>MyBoldGoals</h1>
    <h3><a th:href="@{/goal}">Add new goal</a></h3>
    <h3><a th:href="@{/goals}">Goals list</a></h3>
    <br></br>
    <div th:switch="${session.isEmpty()}">
  		<p th:case="true">
  			<h3><a th:href="@{/register}">Register</a></h3>
  			<h3><a th:href="@{/login}">Log in</a></h3>
  		</p>
  		<p th:case="false">
	    <form action="logmeout" th:action="@{/logmeout}" method="post" >
	    	<input type="submit" value="Log me out" />
	    </form>
    	</p>
    </div>
</body>
</html>