<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add item</title>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>    
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<div th:replace="fragments/navbar :: navbar"></div>
	
	<div class="container">
        <div class="col-md-8 col-md-offset-0">
    	<form class="form-signin" th:action="@{/saveitem}" method="post">
    		<h2 class="form-signin-heading">Add new item</h2>
    		<br></br>
	        <h4>Description</h4>
	        <textarea maxlength="200" required="required" title="Description can't be null" type="text" name="description"
	        	class="form-control" placeholder="Description"></textarea>
	        <div class="input-group bootstrap-timepicker timepicker col-md-2">
	        <br></br>
	        <h4>Date</h4>
	        <input id="timepicker" maxlength="200" type="date" name="date"
	        	class="form-control" placeholder="Date"></input>
	        </div>
	        <br></br>
	        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Save" />
    	</form>
    	</div>
    	<div class="bs-callout bs-callout-primary">
  			<h2>Tips:</h2>
  			<h4>1. Fill items form with your small activities which help you achieve big objective.</h4>
  			<h4>2. Always determine achieving date. There's no-no time like the present.</h4>
  			<h4>3. Your goal cannot be impersonal - write "I finish with smoking" instead of "Stop smoking".</h4>
  			<h4>4. Don't use phrase "I'll try".</h4>
  		</div>
    </div>
</body>
</html>