<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Log in</title>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>    
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<div th:replace="fragments/navbar :: navbar"></div>
	
	<br></br>
    <div class="container">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
        <form class="form-signin" action="#" method="post" th:action="@{/login}" th:object="${user}">
        	<h2 class="form-signin-heading">Log in</h2>
	        <p>Login:<input placeholder="Login" required="required" pattern=".{3,}" title="Login must be at least 3 characters" type="text" th:field="*{username}" /></p>
	        <p>Password: <input placeholder="Password" required="required" pattern=".{6,}" title="Password must be at least 6 characters" type="password" th:field="*{password}" /></p>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log in" />
    </form>
    </div>
    </div>

</body>
</html>