<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Register success</title>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>    
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<div th:replace="fragments/navbar :: navbar"></div>
	
	<div class="container">
        <div class="col-md-8 col-md-offset-2">
	    	<h1>Thanks for registration!</h1>
	    	<input class="btn btn-lg btn-primary btn-block" type="button" onclick="location.href='/login';" value="Log in" />
    	</div>
   	</div>
</body>
</html>