<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Register success</title>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/styles.css"/>
</head>
<body>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>

	<div th:replace="fragments/navbar :: navbar"></div>
	
	<div class="container">
		<div class="row">
	        <div class="col-md-8 col-md-offset-2">
		    	<h1>Thanks for registration!</h1>
		    	<input class="btn btn-lg btn-important btn-block" type="button" onclick="location.href='/login';" value="Log in" />
	    	</div>
    	</div>
   	</div>
   	
   	<div th:replace="fragments/footer :: footer"></div>
   	
</body>
</html>