<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Summary</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<div th:replace="fragments/navbar :: navbar"></div>
        
        <div class="container">
	  	<div class="col-md-8 col-md-offset-0">
		  	<h2>Out of date items summary:</h2>            
		  	<br></br>
		  	<table class="table table-striped">
	            <thead>
	            <tr>
	                <th>Date</th>
	                <th>Description</th>
	                <th>Status</th>
	                <th>Switch to complete</th>
	                <th>Delete aim :-(</th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr th:each="item: ${items}">
	                <td th:text="${#dates.format(item.date, 'dd-MM-yyyy')}"></td>
	                <td th:text="${item.description}"></td>
	                <td th:text="${item.status}"></td>
	                <td>
	                <div th:switch="${item.status}"> 
	                <p th:case="'complete'"></p>
	                <p th:case="*">
	                	<form action="completeitem" th:action="@{/completeItem}" method="post" >
	    				<input type="hidden" name="itemId" th:attr="value=${item.id}"/>
	    				<input class="btn btn-success" type="submit" value="Complete" />
	    				</form>
	    			</p>
	    			</div></td>
	    			<td>
	    				<form action="deleteitem" th:action="@{/deleteItem}" method="post" >
	    				<input type="hidden" name="itemId" th:attr="value=${item.id}"/>
	    				<input class="btn btn-danger" type="submit" value="Delete" />
	    				</form>
	    			</td>
	            </tr>
	            </tbody>
	        </table>
	    </div>
	    <div class="bs-callout bs-callout-info">
  			<h2>Tips:</h2>
  			<h4>1. If your goal expired, achieve it in next 3 days.</h4>
  			<h4>2. Don't remove your aims - don't be shy, never give up, do your best, win.</h4>
  		</div>
		</div>
</body>
</html>